@page
@model ClubWestRFC.Pages.Members.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull</h1>
        Your Order Number is : @Model.orderId <br /><br />
        <img src="~/images/favicon-32x32.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />
        
    </div>
</div>


