@page
@model ClubWestRFC.Pages.Members.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull</h1>
        Your Order Number is : @Model.orderId <br /><br />
        <img src="~/images/membertypes/49358a20-ede6-43dd-9fe4-7c9823ae1094.jpg" width="45%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! Thank you for your Support<br />
        
    </div>
</div>


