@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ClubWest RFC </h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>
                The club boasts excellent facilities including: 3 full size rugby pitches
                plus separate designated training area, 8 dressing-rooms plus separate
                changing area for match officials, 650 seater stand with media sector and
                wheelchair access, 200 vehicle car park, Covered terracing, TV quality
                flood-lighting on main pitch, Match quality flood-lighting on second
                pitch and training area
            </p>

        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns happiness
        </div>
    </div>
</div>
