@page
@model ClubWestRFC.Pages.Members.Home.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Please choose what mebership you wol like or Club Merchadise you woud like to order</h1>

